/* 전체 페이지 스타일 */
html,
body {
  height: 100%; /* 전체 높이 설정 */
  margin: 0; /* 기본 마진 제거 */
}

/* 컨테이너 스타일 */
.container {
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 정렬 */
  justify-content: center; /* 세로 가운데 정렬 */
  align-items: center; /* 가로 가운데 정렬 */
  height: 100vh; /* 전체 화면 높이 */
  text-align: center; /* 텍스트 가운데 정렬 */
  background-color: #f4f4f9; /* 배경 색상 */
}

/* 기본 스타일 */
body {
  font-family: "Arial", sans-serif; /* 폰트 설정 */
  color: #333; /* 기본 글자 색상 */
}

h1 {
  color: #2c3e50; /* 제목 색상 */
}

input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 50%; /* 너비 조정 */
  box-sizing: border-box;
  margin: 10px 0; /* 위아래 마진 추가 */
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px; /* 버튼 모서리 둥글게 */
}

button:hover {
  background-color: #2980b9;
}
